<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ButtonTitle</key>
		<string>card_title_mood</string>
		<key>Tag</key>
		<string>0</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greymood_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greymood_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string>card_mood_title</string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_bored</string>
		<key>Tag</key>
		<string>1</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greybored_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenbored_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string></string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_leisure</string>
		<key>Tag</key>
		<string>2</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greyleisure_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenleisure_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string></string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_happy</string>
		<key>Tag</key>
		<string>3</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greyhappy_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenhappy_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string></string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_showoff</string>
		<key>Tag</key>
		<string>4</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greyshowoff_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenshowoff_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string></string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_anger</string>
		<key>Tag</key>
		<string>5</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greyanger_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenanger_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string></string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_sad</string>
		<key>Tag</key>
		<string>6</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greysad_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greensad_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string>card_mood_button_camera_bg</string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_lol</string>
		<key>Tag</key>
		<string>7</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greylol_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenlol_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string>card_mood_button_camera_bg</string>
	</dict>
	<dict>
		<key>ButtonTitle</key>
		<string>card_button_more</string>
		<key>Tag</key>
		<string>8</string>
		<key>ImageName_Normal</key>
		<string>makecards_mood_greymore_icon</string>
		<key>ImageName_HighLight</key>
		<string>makecards_mood_greenmore_icon</string>
		<key>BackgroundImageName_Normal</key>
		<string>card_mood_button_camera_bg</string>
        <key>BackgroundImageName_HighLight</key>
		<string>card_essay_button_fugu_bg</string>
	</dict>
</array>
</plist>
